
body
{
    background-color:#E4F1FF;

}
hr
{

    border-style:none;
    border-top-style: dotted;
    width: 30%;
    border-color: grey;
    border-width: 5px;
    width: 4% ;
}
h1
{
    color:#66BFBF ;
}
h3{
    color: #66BFBF;
}
a
{
     text-decoration: none;
}